* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background-color: #ebf2ff;
  overflow-x: hidden;
  transition: all 0.5s;
}

button {
  border: none;
  background-color: transparent;
}

section {
  margin: 3rem 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  border-radius: 20px 20px 0 0;
}

footer > img {
  width: 300px;
  filter: brightness(0) invert(1);
}

footer > ul {
  list-style: none;
  margin-top: -2rem;
}

footer > ul > li {
  color: #fff;
  margin: 0.4rem;
}

footer > p {
  text-align: center;
  margin: 1rem;
  color: aliceblue;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 9999;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.brand__logo {
  height: 100%;
  width: 100%;
}

.navbar__brand {
  width: 100px;
}

.primary__button {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  transition: 0.5s;
  background-size: 200% auto;
  cursor: pointer;
}

.primary__button:hover {
  background-position: right center;
  color: #fff;
}

.hero__image__container {
  width: 100%;
  position: relative;
}

.hero__image {
  margin-top: 2rem;
  position: absolute;
  width: 100%;
  left: auto;
  right: auto;
  z-index: 3;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero__shape {
  position: absolute;
  right: 2;
  z-index: 2;
}

.hero__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.text__heading {
  font-size: 1.8rem;
  line-height: 2.25rem;
  color: #1d3557;
  font-weight: bold;
}

.video__footage__container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video__footage {
  position: relative;
}

.video__footage::before {
  content: "";
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(1rem, 1rem);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.chef__video {
  height: 100%;
  width: 100%;
}

.video__footage__text {
  margin-top: 2rem;
  color: #1d3557;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}

.food__list__container {
  width: 100%;
  position: relative;
  margin: 2rem 0;
}

.text__heading {
  font-size: 1.8rem;
  line-height: 2.25rem;
  color: #1d3557;
  font-weight: bold;
}

.food__menu__card {
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.food__menu__card__image {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.food__menu__card__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #1d3557;
  margin: 0.5rem 0;
}

.food__menu__card__restaurants {
  color: #1d3557;
}

.food__menu__card__description {
  padding: 1rem;
}

.food__menu__card__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.restaurant__list__container {
  margin: 3rem 0;
}

.restaurant__list__text {
  margin-bottom: 2rem;
}
.restaurant__list__row__1 {
  display: flex;
  align-items: baseline;
}

.restaurant__list__row__2 {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.restaurant1,
.restaurant4 {
  border-radius: 4px;
  margin: 0 4px;
  width: 150px;
  height: 80px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.restaurant2,
.restaurant3 {
  border-radius: 4px;
  margin: 0 4px;
  width: 200px;
  height: 100px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.email__subscribe__container {
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

.email__input {
  border: 1px solid #ee89a0;
  background-color: #fcedf0;
  color: #1d3557;
  font-weight: 700;
  border-radius: 4px;
  padding: 0.5rem;
  margin-right: 1rem;
}

.email__input::placeholder {
  color: #bdbcbc;
}

.email__subcribe__description {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.quote__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/overlay.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 13px;
}

.image__overlay {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #0a4065;
  opacity: 49%;
  border-radius: 13px;
}

.quote__image__text {
  color: #fff;
  text-align: center;
  margin: 0 1rem;
  z-index: 3;
}

@media (min-width: 768px) {
  .hero__container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .hero__image {
    margin-top: 2rem;
  }

  .text__heading {
    font-size: 2rem;
    font-weight: 900;
  }

  .video__footage {
    margin-right: 2rem;
  }

  .video__footage__text {
    margin-left: 2rem;
  }

  .food__list__container {
    margin: 5rem 0;
  }

  .food__menu__card__list {
    display: flex;
    flex-direction: row;
    padding: 2rem;
  }

  .food__menu__card__list > div:nth-child(2) {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  .food__list__container__diagonal {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: skewY(-5deg);
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    z-index: -3;
  }

  .restaurant__list__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .restaurant__list__text {
    width: 100%;
  }

  .email__subscribe__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  .email__input {
    width: 20rem;
  }

  .quote__container {
    height: 300px;
  }

  .image__overlay {
    height: 300px;
  }

  .quote__image__text {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin: 0 1rem;
    z-index: 3;
  }

  footer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  footer > ul {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 900px;
  }

  .navbar {
    padding: 0 50px;
  }

  .navbar__brand {
    width: 100px;
  }

  .primary__button {
    font-size: 15px;
    font-weight: bold;
    padding: 15px 20px;
  }

  .hero__image {
    margin-top: 2.8rem;
  }

  .text__heading {
    font-size: 3rem;
    line-height: 3.2rem;
  }

  .video__footage__container {
    flex-direction: column;
  }

  .video__footage__text {
    width: 70%;
  }

  .restaurant1,
  .restaurant4 {
    width: 200px;
    height: 150px;
  }

  .restaurant2,
  .restaurant3 {
    width: 280px;
    height: 200px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1250px;
  }
}
