* {
    margin: 0;
    padding: 0;
}

body {
    background-color: red;
    overflow: hidden;
}

#scorecount {
    font-family: 'Press Start 2P', cursive;
    position: relative;
    width: 418px;
    height: 141px;
    font-size: 23px;
    padding-top: 85px;
    left: 70%;
    position: absolute;
}

.gamecontainer {
    background-image: url(images/background-mario.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 100vh;
    background-size: 100vw 100vh;
    position: absolute;
    /* animation: trackMove linear 6s infinite;*/
}

.gameover {
    top: 14%;
    left: 35%;
    background-image: url(images/gameover.gif);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 423px;
    height: 315px;
    z-index: 100;
    visibility: hidden;
}

.track {
    background-image: url(images/track.png);
    height: 17vh;
    background-repeat: repeat-x;
    width: 800vw;
    position: absolute;
    background-size: contain;
    bottom: -1%;
}

.mario {
    background-image: url(images/mario.png);
    background-repeat: no-repeat;
    width: 98px;
    height: 141px;
    background-size: cover;
    top: 63.5%;
    position: absolute;
    left: 25%;
}

.obstacle {
    background-image: url(images/dragon.png);
    background-repeat: no-repeat;
    width: 161px;
    height: 108px;
    background-size: cover;
    top: 66.5%;
    position: absolute;
    left: 60%;
}

.animateMario {
    animation: marioUP linear 1s;
}

.obstacleAni {
    animation: obstacleAni 4s linear infinite;
}

.mariofall {
    filter: grayscale();
    animation: fall 2s linear;
}

.trackmove {
    animation: trackMove linear 20s infinite;
}

@keyframes trackMove {
    100% {
        transform: translateX(-500vh);
    }
}

@keyframes marioUP {
    0% {
        top: 56.5%;
        background-image: url(images/mario-jump.png);
        width: 115px;
        height: 114px;
    }
    50% {
        top: 25%;
        background-image: url(images/mario-jump.png);
        width: 115px;
        height: 114px;
    }
    100% {
        top: 56.5%;
        background-image: url(images/mario-jump.png);
        width: 115px;
        height: 114px;
    }
}

@keyframes shake {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

@keyframes obstacleAni {
    0% {
        left: 100%;
    }
    100% {
        left: -10%;
    }
}

.drop {
    animation: drop 1.2s forwards;
}

@keyframes drop {
    0% {}
    20% {
        transform: translate3d(0, 20px, 0);
        opacity: 1;
    }
    40%,
    45% {
        transform: translate3d(0, -120px, 0);
        opacity: 1;
    }
}

@keyframes fall {
    0% {
        top: 65%;
    }
    25% {
        top: 75%;
    }
    50% {
        top: 81%;
    }
    75% {
        top: 89%
    }
    100% {
        top: 125%;
    }
}